[user]
	name = Jason Hyde
	email = github@2bad.me
	signingKey = CC6148AB62E23917
[commit]
	gpgSign = true
[gpg]
	program = /usr/bin/gpg
	format = openpgp
[pull]
	ff = only
[tag]
	forceSignAnnotated = false
[init]
	defaultBranch = master
[gpg "ssh"]
	program = ssh-keygen
	allowedSignersFile = ""
[rebase]
	updateRefs = true
