.aws
.bash_sessions
.bun
.cache
.CFUserTextEncoding
.claude*
.config/astro
.config/cody-ai
.config/Cody*
.config/configstore/nodemon*
.config/configstore/update-notifier*
.config/Cypress
.config/dconf/user
.config/ghostty
.config/git
.config/GitKraken
.config/google-chrome
.config/nats
.config/uv
.deno
.docker
.dotnet
.DS_Store
.gitkraken
.gk
.gnupg
.hushlogin
.languine
.lesshst
.local/bin
.local/share/applications/mimeapps.list
.local/share/nats
.local/share/rainfrog
.local/share/recently-used.xbel
.local/share/vscode-beggar
.local/state
.nix*
.npm
.ollama
.pki
.quokka
.ssh
.sudo*
.terminfo
.terraform.d
.Trash
.volta
.vscode*
.wallaby
.wget*
.zcompdump
.zsh_sessions
*.zwc
*history
Applications
bin
Desktop
Documents
Downloads
Library
Movies
Music
Pictures
Public