.aws
.bun
.cache
.config/astro
.config/configstore/nodemon*
.config/configstore/update-notifier*
.config/Cypress
.config/dconf/user
.config/GitKraken
.config/google-chrome
.deno
.docker
.dotnet
.gitkraken
.gk
.gnupg
.lesshst
.local/share/applications/mimeapps.list
.local/share/recently-used.xbel
.local/share/vscode-beggar
.npm
.pki
.quokka
.ssh
.sudo*
.terminfo
.terraform.d
.volta
.vscode*
.wallaby
.wget*
*.zwc
*history